{
  "plugins": [
     "prettier"
  ],
  "extends": [
    // "prettier",
    "plugin:vue/vue3-recommended",
  ],
  "rules": {
    // Allow Prettier to throw errors via ESLint
    // "prettier/prettier": "error"
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true
  },
  "ignorePatterns": [
    "vite.config.js"
  ]
}